{% extends 'base/header-footer.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="auth-card shadow text-center">
                <i class="fas fa-lock-open fa-4x text-success mb-3"></i>
                <h3 class="mb-3">رمز عبور تغییر یافت!</h3>
                <a href="{% url 'login' %}" class="btn btn-primary">ورود به حساب</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}