{% extends 'base/header-footer.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="auth-card shadow">
                <h2 class="text-center mb-4">رمز عبور جدید</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">رمز جدید:</label>
                        <input type="password" name="new_password1" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">تکرار رمز:</label>
                        <input type="password" name="new_password2" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">تغییر رمز</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}