{% extends 'base/header-footer.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="auth-card shadow text-center">
                <i class="fas fa-check-circle fa-4x text-success mb-3"></i>
                <h3 class="mb-3">ایمیل ارسال شد!</h3>
                <p>لینک بازنشانی رمز عبور به ایمیل شما ارسال گردید</p>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">بازگشت به ورود</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}